<div class="body-content">
    <div class="profile-part">
     <%-include('sidenav', {user: user}) %>
    </div>
    <div class="page-part">
        <div class="page-content registration-content edit-content">
            <h1>Profile</h1>
            <label for="">First Name: <span><%=user.firstName %></span></label>
            <label for="">Last Name: <span><%=user.lastName %></span></label>
            <label for="">Username: <span><%=user.userName %></span></label>
            <label for="">Checking: <span>$<%=user.checking %></span></label>
            <label for="">Saving: <span>$<%=user.saving %></span></label>
        </div>
    </div>
</div>