<div class="body-content">
    <div class="profile-part">
     <%-include('sidenav', {user: user}) %>
    </div>
<div class="page-part">
    <div class="page-content">
        <h1 class="page-header" id="transactionType"><%=transactionType %></h1>
        <form action="/account/<%=user.id %>/<%=transactionType%>" method="post">
            <p id="current-amount-checking">Current Checking Amount: $<%=user.checking%></p>
            <p id="current-amount-saving">Current Saving Amount: $<%=user.saving%> </p>
            <% if(transactionType == 'TRANSFER'){ %>
                <label>Transfer From</label>
            <% } else { %>
                <label>Account</label>
           <% } %>
            <select name="accountType" id="accountType">
                <option value="Checking" selected>Checking</option>
                <option value="Saving">Saving</option>
            </select>
            <br><br>
            <label>Amount</label>
            <input type="number" name="transactionAmount" id="" min="0" max="1000">
            <br>
            <input type="submit" id="submit-btn" value="SUBMIT <%=transactionType %>">
        </form>
    </div>
</div>